*, * ::before, *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* background-color: rgba(0, 128, 0, 0.473);       */
}

:root {
    /* Typography */
    --font-family: sora, sans-serif;
    --font-title-size: 1.125rem;
    --font-text-size: 0.875rem;
    --font-author-text: 0.75rem;
    --font-tag-size: 0.625rem;
    --font-title-clr: #20293A;
    --font-text-clr: #394150;
    --font-tag-clr: #7C19EE;
    --font-author-clr: #394150;

    /* Backgrounds */
    --body-bg: #F2EAFD;
    --blog-bg: #FFFFFF;
    --tag-bg: #E5EAF0;
    --box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    line-height: 1.6;
    color: black;
    background-color: var(--body-bg);
}

.blog--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    border-radius: 1rem;
    background-color: var(--blog-bg);
    box-shadow: var(--box-shadow);
}

.content--container, .author--container {
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}